@import "../../styles/settings.variables";



.input{
  outline: none;
  height: 2 * $space-basis;
  font-size: $space-basis;
  border: solid 1px $gray-200;
  border-radius:  $space-basis;
  padding: 0.5 * $space-basis;
  
}