@import "./reset";
@import "./settings.variables";
@import "./_rwd";


html,body{
  background-color: $gray-100;
}

#{$root-class}{
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 95%;
  margin: 0 auto;
  overflow-x:hidden;
  font-family: Lato, Microsoft JhengHe, sans-serif;

  @include rwd($mdWidth){
    flex-direction: column;
  }
  
 *{
    box-sizing: border-box;
  }
  
  >*{
    flex-basis: 45%;
  }
}
