.attend-lists {
 height: 600px;
 width: 600px;
 margin-top: 20px;
 border:solid 1px #000;
 overflow-x: hidden;

 .lists-item__title{
    position: sticky;
    top: 0;
    background-color: #d3d3d3;
  }

 .lists-item, .lists-item__title{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    
   > * {
     flex-basis: (100% / 3);
   }
 }

 .lists-item:first-child{
    padding: 10px;
  }

 .lists-item:not(:first-child){
    margin-left: 20px;
    margin-right: 20px;
 }

 .lists-item__avatar{
    height: 40px;
  }
}
